body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.select-wrapper {
  margin-bottom: 20px;
  display: flex;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    font-weight: bold;
  }

  td.red {
    background-color: #ffcccc;
  }

  td.yellow {
    background-color: #ffffcc;
  }

  td.green {
    background-color: #ccffcc;
  }

.select-wrapper select {
  padding: 8px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
