body {
  padding: 0;
  margin: 0;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100%;
  height: auto; /* Изменено на автоматическое значение для поддержки различных высот */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.744);
  
}

.nav > img {
  max-width: 100%; /* Изменено на максимальную ширину */
  height: auto; /* Добавлено, чтобы сохранить пропорции */
  padding: 0.4em;
  width: 8em;

}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #1c0e8a66;
  width: 90%;
  height: auto; /* Изменено на автоматическое значение для поддержки различных высот */
  margin: 1em;
  flex-direction: column;
  border-radius: 25px;
  padding: 1em; /* Добавлено для увеличения отступа */
}

.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em;
  width: 100%;
  flex-wrap: wrap; /* Добавлено для переноса карточек на маленьких экранах */
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgba(3, 32, 255, 0.525);
  border-radius: 15px;
  padding: 2em;
  cursor: pointer;
  width: 10em;
  margin: 0.5em; /* Добавлено для создания промежутков между карточками */
  max-width: 300px; /* Добавлено, чтобы ограничить максимальную ширину карточек */
}

.emoji {
  font-size: 6.6em;
  padding: 0;
  margin: 0;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
 li{
 list-style-type: none;
 padding: 0.5em;
 font-size: 1.5em;
 color: rgb(0, 119, 255);
 font-weight: 800;
 font-family: -apple-system;
 
}


/* Медиа-запрос для устройств с шириной экрана до 768px (например, планшеты и мобильные устройства) */
@media only screen and (max-width: 768px) {
  .nav {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  
  .nav > img {
    width: 8em;
    height: auto;
    margin-bottom: 0.5em;
  }
  
  .container {
    width: 95%;
  }
  
  .card {
    max-width: 100%;
  }
}
